body {
  font-family: Arial;
}

.heading {
  text-align: center;
  color: #888888;
  font-size: 20px;
  margin-top: 0;
}

.btn {
  font-size: 16px;
  padding: 8px 12px;
  background: white;
  border: 1px solid #999999;
  cursor: pointer;
  transition: all 0.35s;
}

.btn-fullwidth {
  min-width: 100%;
}

.btn-active {
  background: lightgreen;
  color: darkgreen;
}

.btn:hover {
  background: lightgreen;
  color: darkgreen;
}

.support-cause {
  max-width: 240px;
  background: #f5f5f5;
  padding: 20px;
}

.donation-form {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 10px;
}

.donation-form > * {
  flex: 1;
}

.donation-form > input {
  padding: 8px 12px;
}

.hidden {
  display: none;
}